# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# MPLABX
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.sdb
*.obj.dump
*.map
build/
dist/
nbproject/private/
nbproject/Package-*.bash
nbbuild/
nbdist/
nbactions.xml
nbproject/Makefile-*
disassembly/

# Python
*.pyc

# Log files
logs/
